<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsxT9-ZRXNGt8XGuNGTv-lQJM3Tv1s0mo</string>
	<key>GCM_SENDER_ID</key>
	<string>658715402627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBackendServiceApp</string>
	<key>PROJECT_ID</key>
	<string>fullbackendfirebaseservices</string>
	<key>STORAGE_BUCKET</key>
	<string>fullbackendfirebaseservices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658715402627:ios:8fcba64d47c3b7a9c316b6</string>
</dict>
</plist>